.Pagination {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-top: 1px solid #eaecf3;
  z-index: 2;
}

.Pagination-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #5c5589;
  width: 41px;
  height: 40px;
  background: #fff;
  border: 1px solid #76709f;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0px 6px;
}

.Pagination-page:hover,
.Pagination-selected {
  background-color: #e1ebff;
}

.Pagination-page:disabled {
  background-color: #e0e0ed;
  color: #76709f;
}

.Pagination-pages span {
  margin: 0px 12px;
}

.Pagination-prev,
.Pagination-next {
  width: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: absolute;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #d5d8e4;
  box-shadow: 0px 1px 0px 1px rgba(203, 201, 217, 0.6);
}

.Pagination-prev {
  left: 32px;
}

.Pagination-next {
  width: 85px;
  right: -32px;
  transform: translate(-50%);
}

.Pagination-arrow-left,
.Pagination-arrow-right {
  width: 12px;
  height: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  background-image: url("../../assets/images/arrow-left.svg");
}

.Pagination-arrow-right {
  left: 57px;
  order: 2;
  background-image: url("../../assets/images/arrow-right.svg");
}
